

  <div class="row" >
    <form class="col s12" action="/signup" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" name="signup_username">
          <label for="username">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" name="signup_password">
          <label for="password">Password</label>
        </div>
      </div>
      <input type="submit" value="SIGNUP" />
    </form>
  </div>